@charset "UTF-8";

:root
{
    --color1: #003366;
    --color2: #CCE7FF;
    --color3: #333333;
    --color4: #F0F0F0;
}

*
{
    margin: 0;
    padding: 0;
}

header img
{
    display: block;
    max-width: 1349px;
    width: 100%;
    margin: auto;
}

nav
{
    margin-top: 20px;
    margin-bottom: 30px;
}

nav a
{
    text-decoration: none;
    color: black;
    padding: 20px;
}

nav a:hover
{
    background-color: var(--color2);
    transition-duration: 0.5s;
}

body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: var(--color4);
}

main
{
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
}

main h1
{
    max-width: 900px;
    font-weight: 500;
    font-size: 2em;
    margin: 50px 0;
}

main h2
{
    font-weight: bold;
    margin-bottom: 20px;
}

main p
{
    max-width: 1150px;
    min-width: 250px;
    line-height: 2em;
    margin-bottom: 30px;
    text-align: justify;
}

.image-container
{
    text-align: center;
}

figure 
{
    display: inline-block; 
    margin: 0 40px; 
    padding: 20px 0;
    text-align: center;
}

figure img 
{
    width: 100%;
    display: block; 
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

figcaption
{
    font-size: 0.85em;
}

footer
{
    margin: auto;
    /* margin-top: 30px;
    margin-bottom: 5px; */
    padding: 40px 40px 10px 40px;
    max-width: 800px;
    font-size: 0.8em;
    text-align: justify;
}

